<%= form_for @condition, html: { class: "form-horizontal"}, validate: :condition_validators do |f| %>
  
  <div class="form-group">
    <label class="control-label">Condition name</label>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  
  <%= f.submit class: "btn btn-success fullwidthbutton" %>
  <%= link_to 'Back', conditions_path, class: "btn btn-warning fullwidthbutton" %>
  
<% end %>
