<div class="center-div">
  <%= link_to 'Back', conditions_path, class: "btn btn-warning" %>
  <h1 class="text-center">New Condition</h1>
  <%= render 'form' %>
  <%= yield(:condition_validators) %>
</div>