<div class="center-div">
<div>
	<strong>Name:</strong>
	<%= @condition.name %>
</div>

<% if current_user.admin? %>
	<%= link_to 'Edit', edit_condition_path(@condition) %> |
<% end %>
<%= link_to 'Back', conditions_path %>
</div>