<%= form_for @movement, html: { class: "form-horizontal"}, validate: :product_validators do |f| %>
  <div class="form-group">
    <label class="control-label">Barcode</label>
    <%= f.text_field :barcode, class: 'form-control' %>
  </div>

  
<% end %>
