<div class="center-div">
  <%= link_to 'Back', movements_path, class: "btn btn-warning" %>
  <h1 class="text-center">New Movement</h1>
  <%= render 'form' %>
  <%= yield(:movement_validators) %>
</div>