<div class="center-div">
	<%= link_to 'Back', embed_code_universities_path, class: "btn btn-warning" %>
	<h1 class="text-center">New University</h1>
	<%= render 'form' %>
	<%= yield(:embed_code_university_validators) %>
</div>
