<div class="center-div">
	<%= link_to 'Back', embed_code_universities_path, class: "btn btn-warning" %>
	<h1 class="text-center">New University</h1>
	<% if params[:contact_id] %>
		<%= render 'form', contact_id: params[:contact_id] %>   	
  	<% else %>
  		<%= render 'form' %> 
  	<% end %>
	<%= yield(:embed_code_university_validators) %>
</div>
