<div class="center-div">
	<%= link_to 'Back', university_contacts_path, class: "btn btn-warning" %>
	<h1 class="text-center">Editing University Contact</h1>
	<%= render 'form' %>
	<%= yield(:university_contact_validators) %>
</div>
