<div class="center-div">
	<%= link_to 'Back', embed_codes_path, class: "btn btn-warning" %>
	<h1 class="text-center">New Embed Code Template</h1>
	<%= render 'form' %>
  <%= yield(:embed_code_validators) %>
  <%= yield(:embed_code_variable_validators) %>
</div>
