/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui/datepicker
 *= require_tree .
 *= require_self
 *= require twitter-bootstrap-static/fontawesome
 */


.laureatelogo img {
  height: 40px;
  width: auto;
}

.table-hover>tbody>tr:hover>td.hover-me, .table-hover>tbody>tr:hover>th {
  background-color: #F15D22;
  color:#eeeeee;
}

.laureatelogo {
  padding: 5px 15px 5px 15px;
}

.center-div {
  max-width: 400px;
  margin: 0 auto 10px;
}

.fielderrors > input {
  border-color: #a94442;
  margin-bottom: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

.has-error input {
  margin-bottom: 0px;
}

.has-error > label {
  color: #a94442
}

.fullwidthbutton {
  width: 100%;
  margin-top: 10px;
}
th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

th .asc {
  background-image: url(/images/up_arrow.gif);
}

th .desc {
  background-image: url(/images/down_arrow.gif);
}

.form-main-search .form-group {
  width: 100%;
}

.form-main-search input {
  vertical-align: top;
}

.form-main-search .btn-primary {
  max-width: 140px;
}

.top-index-btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

.pagination .disabled {
  display: none;
}

a.addedItem {
  color: #3C763D
}

a.addedItem:hover {
  color: #3C763D;
}

a.movedItem {
  color: #8A6D3B;
}

a.movedItem:hover {
  color: #8A6D3B;
}

/********** LOADING ANIMATION ********/
  .content-loader {
  max-width: 60px;
  position: relative;
  /*Remove when loader becomes a module*/
  height: 450px;
  padding-top: 220px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
@media only screen and (max-width: 40em) {
  .content-loader {
    padding-top: 100px;
  }
}
.content-loader:after {
  position: absolute;
  display: block;
  content: '';
  clear: both;
}
.content-loader .dot {
  display: block;
  width: 10px;
  height: 10px;
  float: left;
  margin-right: 6px;
  margin-top: 2px;
  border-radius: 50%;
  opacity: 0;
  background-color: #666666;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  -webkit-animation-name: pulse;
          animation-name: pulse;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.content-loader .dot:nth-child(2) {
  width: 14px;
  height: 14px;
  margin-top: 0;
  -webkit-animation-delay: .12s;
          animation-delay: .12s;
}
.content-loader .dot:nth-child(3) {
  -webkit-animation-delay: .24s;
          animation-delay: .24s;
}
.content-loader .dot.orange {
  background-color: #F35908;
}

@-webkit-keyframes pulse {
  0% {
    opacity: .15;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  24% {
    opacity: 1;
    -webkit-transform: scale(1.2, 0.2);
            transform: scale(1.2, 0.2);
  }
  48% {
    opacity: .15;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes pulse {
  0% {
    opacity: .15;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  24% {
    opacity: 1;
    -webkit-transform: scale(1.2, 0.2);
            transform: scale(1.2, 0.2);
  }
  48% {
    opacity: .15;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

/******** END LOADING ANIMATION *********/
