/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui/datepicker
 *= require_tree .
 *= require_self
 */


.laureatelogo img {
  height: 40px;
  width: auto;
}

.laureatelogo {
  padding: 5px 15px 5px 15px;
}

.center-div {
  max-width: 400px;
  margin: 0 auto 10px;
}

.fielderrors > input {
  border-color: #a94442;
  margin-bottom: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

.has-error input {
  margin-bottom: 0px;
}

.has-error > label {
  color: #a94442
}

.fullwidthbutton {
  width: 100%;
  margin-top: 10px;
}
th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

th .asc {
  background-image: url(/images/up_arrow.gif);
}

th .desc {
  background-image: url(/images/down_arrow.gif);
}

.form-main-search .form-group {
  width: 100%;
}

.form-main-search input {
  vertical-align: top;
}

.form-main-search .btn-primary {
  max-width: 140px;
}

.top-index-btn {
  margin-top: 10px;
}

.pagination .disabled {
  display: none;
}


