<div class="center-div">
	<%= link_to 'Back', locations_path, class: "btn btn-warning" %>
	<h1 class="text-center">Editing Location</h1>
	<%= render 'form' %>
	<%= yield(:location_validators) %>
</div>